<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Definition generator for Cataclysm DDA vehicles.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/style.css") }}>

        <title>Cataclysm DDA Vehicle Definition Generator</title>
    </head>
    <body>
        <div class="right-panel">
            <h1>Cataclysm DDA Vehicle Definition Generator</h1>
            <h2>Howto:</h2>
            <ul>
                <li>
                    <p>Find the .map file containing the vehicle you want to convert.</p>
                    <p class="code">grep -sirl "$VEH_NAME"</p>
                </li>
                <li>Paste the whole .map file and vehicle name into the converter.</li>
                <li>Check output and tweak as desired. 
                    Container defaults and such are not stored for a custom vehicle and must be added manually.</li>
            </ul>
            <p class="error">{{ error }}</p>
        </div>
        <div class="data-area">
            <form method="POST" action="{{ url_for("presentOut") }}" id="data-form">
                <input class="name-field" type="text" placeholder="Vehicle name" name="vehicleName">
                <button class="gen-button" type="submit">Generate</button>
            </form>
            <textarea class="json-field" form="data-form" placeholder=".map file JSON" name="mapdata"></textarea>
        </div>
    </body>
</html>
