<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Definition generator for Cataclysm DDA vehicles.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/style.css") }}>

        <title>Cataclysm DDA Vehicle Definition Generator</title>
    </head>
    <body>
        <div class="right-panel">
            <p class="error">{{ error }}</p>
            <button class="button" form="json-out" type="submit">Raw output</button>
        </div>
        <div class="data-area">
            <form method="POST" action="{{ url_for("rawOut") }}" id="json-out"></form>
            <textarea readonly class="json-field" name="output-area" form="json-out">{{ output }}</textarea>
        </div>
    </body>
</html>
